* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  margin: 0 0 0;
  min-width: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}
header {
  line-height: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
li {
  display: inline;
}
.navbar {
  background-color: rgb(43, 108, 230);
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
.navbar a {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  transition-duration: 0.5s;
  border-bottom: transparent solid 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar li a:hover {
  border-bottom: rgb(255, 255, 255) solid 3px;
}

.navbar .name a {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}
.navbar li .active {
  border-bottom: solid 3px rgb(255, 255, 255);
}
.navbar input[type="text"] {
  background-color: cornflowerblue;
  padding: 6px;
  border: none;
  margin: 0 auto;
  font-size: 15px;
  outline: none;
}
.top-section {
  background-color: rgb(43, 108, 230);
  display: flex;
  justify-content: center;
}
.top-section a {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  transition-duration: 0.5s;
  border-bottom: transparent solid 3px;
  padding-left: 45px;
  padding-right: 45px;
}
.top-section li a:hover {
  border-bottom: rgb(255, 255, 255) solid 3px;
}

.top-section li .active {
  border-bottom: solid 3px rgb(255, 255, 255);
}
.nav-bar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(165, 165, 165);
  line-height: 30px;
}
.nav-bar a {
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  padding-left: 45px;
  padding-right: 45px;
}
.crypto {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.crypto td,
.crypto th {
  border: 1px solid #ddd;
  padding: 15px;
}
.crypto tr:hover {
  background-color: #ddd;
}
.crypto th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: rgb(145, 144, 144);
}
.pipa {
  height: 25px;
  width: 25px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.footer-section td,
.footer-section th {
  padding: 15px;
}
